<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	
	<connectionStrings>
		<add name="connectionstr" connectionString="Data Source=DESKTOP-J23P8GB\SQLEXPRESS;Initial Catalog=SuperMarket;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	
</configuration> 
