<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SuperMarketTHEREALONE.Properties.Settings.SuperMarketConnectionString"
            connectionString="Data Source=DESKTOP-J23P8GB\SQLEXPRESS;Initial Catalog=SuperMarket;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connectionstr" connectionString="Data Source=KIU-PC\SQLEXPRESS;Initial Catalog=OnlineShop;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>